# GIT IGNORE
# git check-ignore -v files
# git rm --cached -r build/
# Build files
build/
output/
inferrt/src/pybind/pybind11-src/
output/

# Cmake files
CMakeFiles/
cmake_install.cmake
CMakeCache.txt
Makefile
**.make
**.yaml

# Dynamic libraries
*.so
*.so.*
*.dylib

# Static libraries
*.la
*.lai
*.a
*.lib

# Object files
*.o

# IDE
.vscode
.idea
.clangd

# Python files
*__pycache__*
.pytest_cache

# Third party libs
.mrtlibs/
