# The CODEOWNERS file is used to define the maintainer of a specific file or directory in the code repository.
# Its main purpose is to automatically request designated maintainer to conduct code review in Pull Request (PR),
# in order to clarify code ownership, improve code quality, and accelerate the review process.

# The lines starting with # are comments.
# Each line corresponds to a specified file or directory and maintainer by @ splitting.
# The rules are applied from top to bottom, and the last matching rule will take effect.

# If the file in PR does not match rule, the default maintainer erpim will be designated to conduct code review.
* @zhengzuohe
.* @zhengzuohe

# The maintainers of vllm_mindspore/.
/vllm_mindspore/ @zhengzuohe
/vllm_mindspore/attention/ @zhengzuohe
/vllm_mindspore/distributed/ @zhengzuohe
/vllm_mindspore/engine/ @zhengzuohe
/vllm_mindspore/entrypoints/ @zhengzuohe
/vllm_mindspore/executor/ @zhengzuohe
/vllm_mindspore/inputs/ @zhengzuohe
/vllm_mindspore/lora/ @zhengzuohe
/vllm_mindspore/model_executor/ @zhengzuohe
/vllm_mindspore/model_executor/layers/ @zhengzuohe
/vllm_mindspore/model_executor/layers/quantization/ @zhengzuohe
/vllm_mindspore/model_executor/model_loader/ @zhengzuohe
/vllm_mindspore/model_executor/models/ @zhengzuohe
/vllm_mindspore/model_executor/models/mf_models/ @zhengzuohe
/vllm_mindspore/model_executor/models/mindone_models/ @zhengzuohe
/vllm_mindspore/multimodal/ @zhengzuohe
/vllm_mindspore/platforms/ @zhengzuohe
/vllm_mindspore/v1/ @zhengzuohe
/vllm_mindspore/v1/attention/ @zhengzuohe
/vllm_mindspore/v1/attention/backends/ @zhengzuohe
/vllm_mindspore/v1/core/ @zhengzuohe
/vllm_mindspore/v1/engine/ @zhengzuohe
/vllm_mindspore/v1/executor/ @zhengzuohe
/vllm_mindspore/v1/sample/ @zhengzuohe
/vllm_mindspore/v1/worker/ @zhengzuohe
/vllm_mindspore/worker/ @zhengzuohe

# The maintainers of tests/.
/tests/ @zhengzuohe

# The maintainers of examples/.
/examples/ @zhengzuohe

# The maintainers of dashboard/.
/dashboard/ @zhengzuohe

# The maintainers of csrc/.
/csrc/ @zhengzuohe

# The maintainers of codecheck_toolkits/.
/codecheck_toolkits/ @zhengzuohe

# The maintainers of .gitee/.
/.gitee/ @zhengzuohe

# The maintainers of other code directories.
/requirements.txt  @zhengzuohe
/setup.py  @zhengzuohe
/install_depend_pkgs.sh @zhengzuohe
/build_image.sh @zhengzuohe
/Dockerfile @zhengzuohe
/LICENSE @zhengzuohe
