# The CODEOWNERS file is used to define the maintainer of a specific file or directory in the code repository.
# Its main purpose is to automatically request designated maintainer to conduct code review in Pull Request (PR),
# in order to clarify code ownership, improve code quality, and accelerate the review process.

# The lines starting with # are comments.
# Each line corresponds to a specified file or directory and maintainer by @ splitting.
# The rules are applied from top to bottom, and the last matching rule will take effect.

# If the file in PR does not match rule, the default maintainer erpim will be designated to conduct code review.
* @erpim
.* @erpim

# The maintainers of vllm_mindspore/.
/vllm_mindspore/ @erpim @tronzhang
/vllm_mindspore/distributed/ @zlq2020 @tronzhang
/vllm_mindspore/entrypoints/ @panshaowu @zlq2020
/vllm_mindspore/executor/ @zlq2020 @tronzhang
/vllm_mindspore/inputs/ @zlq2020 @tronzhang
/vllm_mindspore/lora/ @erpim @wang_shaocong
/vllm_mindspore/model_executor/ @zlq2020 @tronzhang
/vllm_mindspore/model_executor/layers/ @zlq2020 @tronzhang
/vllm_mindspore/model_executor/layers/quantization/ @erpim @hangangqiang
/vllm_mindspore/model_executor/model_loader/ @zlq2020 @tronzhang
/vllm_mindspore/model_executor/models/ @erpim @wang_shaocong
/vllm_mindspore/model_executor/models/mf_models/ @erpim @wang_shaocong
/vllm_mindspore/model_executor/models/mindone_models/ @erpim @wang_shaocong
/vllm_mindspore/multimodal/ @erpim @wang_shaocong
/vllm_mindspore/platforms/ @zlq2020 @tronzhang
/vllm_mindspore/v1/ @zlq2020 @tronzhang
/vllm_mindspore/v1/attention/ @erpim @wang_shaocong
/vllm_mindspore/v1/attention/backends/ @erpim @wang_shaocong
/vllm_mindspore/v1/core/ @zlq2020 @r1chardf1d0
/vllm_mindspore/v1/engine/ @zlq2020 @tronzhang
/vllm_mindspore/v1/executor/ @zlq2020 @tronzhang
/vllm_mindspore/v1/sample/ @zlq2020 @erpim
/vllm_mindspore/v1/worker/ @zlq2020 @r1chardf1d0

# The maintainers of tests/.
/tests/ @erpim @wang_shaocong

# The maintainers of examples/.
/examples/ @panshaowu

# The maintainers of dashboard/.
/dashboard/ @r1chardf1d0

# The maintainers of csrc/.
/csrc/ @dayschan

# The maintainers of codecheck_toolkits/.
/codecheck_toolkits/ @erpim

# The maintainers of .gitee/.
/.gitee/ @TrHan

# The maintainers of other code directories.
/requirements.txt  @tronzhang
/setup.py  @tronzhang
/install_depend_pkgs.sh @tronzhang
/build_image.sh @tronzhang
/Dockerfile @tronzhang
/LICENSE @tronzhang
